@import '../base/colors';
@import '../base/extends';
@import '../base/mixing';

/* Computers */
.gama-alta {
    @include cards;
    .card-alta {
        border: 2px solid nth($colors, 1 );
        @extend %ranges;
    }
}

.gama-media {
    @include cards;
    .card-media {
        border: 2px solid nth($colors, 5);
        @extend %ranges;
       
    }
    
}

.gama-baja {
    @include cards;
    margin-bottom: 1%;
    .card-baja {
        border: 2px solid nth($colors,4);
        @extend %ranges;
    }
}


/* Fin Computers */
