@import '../base/colors';
@import '../base/extends';
@import '../base/mixing';

.gama-alta {
    @include gamas;
    .card-alta{
        border: 2px solid nth($colors, 1 )
    }
}
.gama-media {
    @include gamas;
    .card-media{
        border: 2px solid nth($colors, 4 )
    }
}
.gama-baja {
    @include gamas;
    margin-bottom: 1%;
    .card-baja{
        border: 2px solid nth($colors, 5 )
    }
}

/* Fin Computers */
