/* Computers */
.gama-alta {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    .card-alta {
        border: 2px solid red;
        margin-left: 2%;
        border-radius: 6px;
    }
}

.gama-media {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    .card-media {
        border: 2px solid blue;
        margin-left: 2%;
        border-radius: 6px;
    }
    
}

.gama-baja {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    .card-baja {
        border: 2px solid green;
        margin-left: 2%;
        border-radius: 6px;
    }
}


/* Fin Computers */
