/* Footer */
.socialmedia {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    .twitter {
        margin-right: 2%;
    }
    .instagram {
        margin-left: 2%;
    }
}

/*Fin Footer */