/* media */
@import '../base/colors';
@media screen and (max-width: 576px) {
    .card {
        border: none;
    }

    li {
        transition: all 0.5s;
        padding-top: 1%;
    }

    li:hover {
        transform: scale(105%);
    }

    .imagescarousel {
        display: none;
    }



}

@media screen and (max-width:768px) {
    .card {
        border: 1px solid nth($colors, 1);
        margin-left: 1%;
    }

    li {
        transition: all 0.5s;
        padding-top: 1%;
    }

    li:hover {
        transform: scale(105%);
    }


}

@media screen and (max-width:992px) {
    .card {
        border: 1px solid nth($colors, 1);
        margin-left: 1%;
    }


}
/* fin media */