/* Ofertas Seccion */
@import '../base/colors';

.titlediv {
    display: flex;
    justify-content: center;
    background-image: url(../scss/images/banner2.webp);
    margin-top: 0.5%;
    .titleoffer {
        color: nth($colors, 2);
    }
    
}

.imagescarousel {
    margin-top: 0.5%;
}

.offerssec {
    background-image: url(../scss/images/gamingbackground.webp);
    .ofertas1 {
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
        background-color: nth($colors, 2);
        background-image: url(../scss/images/gamingbackground.webp);
        flex-wrap: wrap;
    }
    .ofertas2 {
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
        flex-wrap: wrap;
    }
}

.card-img-top {
    transition: all 0.9s;
}

.card-img-top:hover {
    transform: scale(1.1);
}




.card {
    border: 3px solid nth($colors, 1);
    background-color: nth($colors, 2);
    margin-bottom: 1%;
}

.card-title {
    color: nth($colors, 3);
}

.card-text {
    color: nth($colors, 3);
}
/*Fin Ofertas */
