@mixin footer{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

@mixin gamas{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    background-color: nth($colors, 2);
    flex-wrap: wrap;
}
